.container{
    display: flex;
    flex-direction:row;
}

.card-body{
display: flex;
flex-direction: column;
padding: 10%;
}

.card{
    display: flex;
    flex-direction: row;
}

img{
    height: 150px;
    width: 150px;
}

input{
    width: 50px;
}

button{
    width: 100px;
}

div{
    display: flex;
    justify-content: center;
}